<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    
    <title>Best Chicago Bars</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <%- include('./partials/nav.ejs') %> 
    </ul> 
    <form class="form-inline my-2 my-lg-0" action="/search/searching?_method=PUT" method="Post">
        <input name="name" class="form-control mr-sm-2" type="search" placeholder="Search for a bar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
    </div>   
  </nav>   
    
    
    <div class="container">        
        <h1 class='error'><%= error%></h1>
        <div class='error'>
            <a class="error-link" href="/users/new">Sign Up</a>
            <a class="error-link" href="/sessions/new">Log in</a>
        </div>
    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>  
    </footer>

</body>
</html>