<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    
    <title>Best Chicago Bars</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <%- include('./partials/nav.ejs') %> 
    </ul> 
    <form class="form-inline my-2 my-lg-0" action="/search/searching?_method=PUT" method="Post">
        <input name="name" class="form-control mr-sm-2" type="search" placeholder="Search for a bar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
    </div>   
  </nav>   
    
    
    <div class="container">
        <h1>Welcome to BarFinder Chicago</h1>
        <% if (currentUser) { %>
            <div> Welcome back <%= currentUser.username%> </div>
        <% } %>
        <article>
            This site holds a database of user submitted bars in Chicago.
            It holds their reviews and ratings, along with specials and a user submitted description of the place. Feel free to browser and find a bar you want to go too, or sign up to contribute to this growing infrastructure
        </article>

           

    </div>
    <footer>
        <%- include('./partials/footer.ejs') %>  
    </footer>

</body>
</html>