body {
    background-image: url('https://i.pinimg.com/originals/d3/06/58/d306580320b0c105e0e394cb1f4ef92a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.barcontainer {
    width: 350px;
    height: 3525x;
    background-color: grey;
    margin: 3vh;

}
.barImage {
    width: 350px;
    height: 250px;
}

.container-fluid {
    background-color: rgba(250, 250, 250, .7);
}

.container {
    background-color: rgba(250, 250, 250, .7);
    margin-top: 8%;
    margin-bottom: 10%;
}

.toppicks {
    color: rgba(250, 250, 250, .7);
    text-align: center;
}

.bartitle {
    text-align: center;
    color: rgba(5, 5, 5, .7)
}

.location {
    text-align: center;
}

.showimg {
    width: 250px;
    height: 250px;
}

.description {
    height: 20%;
}

.remove_button_css { 
    outline: none;
    padding: 5px; 
    border: 0px; 
    box-sizing: none; 
    background-color: transparent; 
  }