<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>    
    <title>Sign Up</title>
</head>
<body>
    <!-- Start of Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%- include('../partials/nav.ejs') %>
      </nav>

       <!-- End of Nav -->
    <div class='container'>
        <h1>Sign Up</h1>
        <form action="/users" method="POST">
            <div>
                Username: <input required type="text" name="username"/>
            </div>
            <div>
                Password: <input required type="password" name="password"/>
            </div>
            <input type="submit" value="Sign up"/>
        </form>      
    </div>

    
    <footer>
        <%- include('../partials/footer.ejs') %>  
    </footer>
   
</body>
</html>